<div class="wrapper">
    <div class="leftSection"></div>
    <div class="rightSection">
        <button mat-stroked-button type="submit" color="primary" (click)="openContactForm()">New Contact <img
                src="assets/img/addUser.png" alt="" srcset=""></button>
    </div>
</div>
<ng-container *ngIf="opened">
    <div class="blur">
        <div [ngClass]="{'animatinoReverse': showTextContent}" class="newContact">
            <img (click)="closeForm()" class="close" src="assets/img/close.png" alt="" srcset="">
            <div class="top">
                <img src="assets/img/joinWhite.png" alt="" srcset="">
                <h3 *ngIf="!showTextContent">Add Contact</h3>
                <p *ngIf="!showTextContent">Tasks are better with a team!</p>
            </div>
            <div class="bottom">

                <img src="assets/img/userContact.png" alt="" srcset="">

                <div class="inputfields">
                    <input (change)="checkTypes()" class="inputfield name" name="name" placeholder="Name" type="text"
                        [(ngModel)]="contactName" required>
                    <span *ngIf="contactName.length < 1">*Please type in your Name</span>
                    <input (change)="checkTypes()" class="inputfield email" name="email" placeholder="Email"
                        type="email" [(ngModel)]="contactEmail" required>
                    <span *ngIf="!contactEmail">*Please type in your Email</span>
                    <input (change)="checkTypes()" class="inputfield phone" name="phone" placeholder="Phone" type="tel"
                        [(ngModel)]="contactPhone" required>
                    <span *ngIf="!contactPhone">*Please type in your Phone</span>
                </div>

                <div class="buttonBottom">
                    <button class="white">Cancel</button>
                    <button class="blue" [class.disabled]="contactName.length < 1 || !contactEmail || !contactPhone"
                        (click)="createContact()"
                        [disabled]="contactName.length < 1 || !contactEmail || !contactPhone">Create Contact</button>
                </div>


            </div>
        </div>
    </div>
</ng-container>