<div class="summary">
    <!-- <div class="text">
        <span class="welcome">Welcome, <span class="name">Max Mustermann</span></span>
        <div class="info">
            <div class="firstRow">
                <div class="urgent">
                    <div class="column">
                        <div class="flex"><img src="assets/img/urgent.png">
                            <span class="urgentCount">{{allTasks.allTasksFire.length}}</span>
                        </div>
                        <p>All Tasks</p>
                    </div>
                    <img class="vector" src="assets/img/Vector 5.png" alt="">
                    <div class="column">

                        <span class="date">{{currentDate | date:'yyyy MMMM dd'}}</span>
                        <span class="time">{{ now | date:'HH:mm:ss'}}</span>
                    </div>
                </div>
                <div class="todo">
                    <span class="firstRowTodo">
                        <img src="assets/img/boardSummary.png" alt="">
                        <span class="counterTodo">{{todo.length}}</span>
                    </span>
                    <p>Tasks To-do</p>

                </div>
            </div>
            <div class="secondRow">
                <div class="tasks">
                    <div class="flex">
                        <img src="assets/img/In Progress.png" alt="">
                        <div class="counterTasks">
                            {{progress.length}}
                        </div>
                    </div>
                    <p>Tasks in Progress</p>

                </div>
                <div class="tasks">
                    <div class="flex">
                        <img src="assets/img/Done.png" alt="">
                        <div class="counterTasks">
                            {{testing.length}}
                        </div>
                    </div>
                    <p>Tasks in Testing</p>

                </div>
                <div class="tasks">
                    <div class="flex">
                        <img src="assets/img/Awaiting feedback.png" alt="">
                        <div class="counterTasks">
                            {{done.length}}
                        </div>
                    </div>
                    <p>Tasks Done</p>

                </div>
            </div>

        </div>
    </div> -->

    <div class="card" style="width: 18rem;">
        <div class="card-body">

            <span class="card-text">Some quick example text to build on the card title and make up the bulk of the
                card's
                content.</span>

        </div>
    </div>


</div>

<app-mobile-nav></app-mobile-nav>