$mainblue: #4589ff;

.signup-container {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50px;
  right: 75px;
  z-index: 10;

  span {
    font-size: 16px;
    margin-right: 32px;
  }
}

.firstPic {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  display: block;
  animation: firstPic 1s ease-in forwards;
  overflow: hidden;
}

.secondPic {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: secPic 0.7s ease-in forwards;
}

.loginSystem {
  animation: login 4s ease forwards;
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 0px;
    gap: 35px;
    width: 652px;
    height: 400px;
    /* white */
    background: #ffffff;
    /* shadoe backlog box */
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    border-radius: 30px;

    span {
      border-bottom: solid 2px $mainblue;
      padding-bottom: 16px;
      height: 58px;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 120%;
      /* identical to box height, or 58px */
      text-align: center;
      color: #000000;
    }

    .email {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 13px 21px;
      gap: 10px;
      width: 422px;
      height: 49px;
      background: #ffffff;
      /* Style */
      border-color: transparent;
      border-bottom: 1px solid #d1d1d1;
      /* Inside auto layout */
      flex: none;
      outline: 0;
      order: 0;
      flex-grow: 0;
      resize: none;
      background-image: url(/assets/img/email.png);
      background-repeat: no-repeat;
      background-position: right;
    }

    .password {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 13px 21px;
      gap: 10px;
      width: 422px;
      height: 49px;
      background: #ffffff;
      /* Style */
      border-color: transparent;
      border-bottom: 1px solid #d1d1d1;
      /* Inside auto layout */
      flex: none;
      outline: 0;
      order: 0;
      flex-grow: 0;
      resize: none;
      background-image: url(/assets/img/password.png);
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}

.remember-password-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: $mainblue;
    font-weight: 400;
    font-size: 16px;
  }
}

.remember-container {
  display: flex;
  align-items: center;

  p {
    margin: 0;
    font-size: 16px;
    margin-left: 16px;
  }

  input {
    filter: brightness(1.25);
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  .guest {
    margin-left: 32px;
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;
    gap: 10px;
    width: max-content;
    height: 48px;
    /* white */
    background: #ffffff;
    border: 1px solid #647188;
    border-radius: 8px;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    /* Version 2/t5 */
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 120%;
    /* identical to box height, or 28px */
    color: #647188;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer;

    &:hover {
      border-color: #4589ff;
      color: #4589ff;
    }
  }
}

.blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 35px;
  gap: 10px;
  height: 48px;
  /* Version 2/main color */
  background: #4589ff;
  border-radius: 8px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: "Open Sans" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  /* identical to box height, or 28px */
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;

  &:hover {
    background: #2172ff;
  }
}

::placeholder {
  color: rgba(128, 128, 128, 0.579);
}

@keyframes firstPic {
  from {
    z-index: 10;
  }

  to {
    opacity: 0;
    z-index: 0;
  }
}

@keyframes secPic {
  0% {
    transform: scale(5);
    top: 50%;
    left: 50%;
    rotate: 360deg;
  }

  to {
    top: 2%;
    left: 2%;
    transform: scale(1);
  }
}

@keyframes login {
  from {
  }

  to {
    z-index: 1;
  }
}
