<div class="animation">
    <img class="firstPic" src="assets/img/loadscreen.png">
    <img class="secondPic" src="assets/img/joinBlue.png" alt="" srcset="">
</div>

<div class="loginSystem">
    <div class="loginContainer">
        <span>Log in</span>
        <input class="email" placeholder="Email" type="email">
        <input class="password" placeholder="Password" type="password">
        <div class="buttons">
            <button class="login">Log in</button>
            <button class="guest">Guest log in</button>
        </div>
    </div>
</div>