<div class="column-main-container">
  <div class="column-container">
    <div class="headline">
      <h2>To do</h2>
      <img src="assets/img/plusButton.png">
    </div>


    <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todoBoard"
      [cdkDropListConnectedTo]="[doneList, inprogressList, testingList, todoList]" class="column"
      (cdkDropListDropped)="drop($event)">
      <div (cdkDragStarted)="onDragStarted($event, task)" *ngFor="let task of todoBoard; let i = index"
        class="{{task.object.Urgency}} task" cdkDrag>
        <div class="initials">{{test(task)}}</div>
        <div class="icons">
          <mat-icon (click)="deletePos($event, task)">delete_outline</mat-icon>
          <mat-icon>edit</mat-icon>
        </div>

        <div class="center">{{task.object.Title}}</div>
        <div class="date">{{task.object.Date | date}}</div>
      </div>
    </div>
  </div>



  <div class="column-container">
    <div class="headline">
      <h2>In Progress</h2>
      <img src="assets/img/plusButton.png">
    </div>

    <div cdkDropList #inprogressList="cdkDropList" [cdkDropListData]="inprogressBoard"
      [cdkDropListConnectedTo]="[doneList, inprogressList, testingList, todoList]" class="column"
      (cdkDropListDropped)="drop($event)">
      <div (cdkDragStarted)="onDragStarted($event, task)" *ngFor="let task of inprogressBoard; let i = index"
        class="{{task.object.Urgency}} task" cdkDrag>
        <div class="initials">{{test(task)}}</div>
        <div class="icons">
          <mat-icon (click)="deletePos($event, task)">delete_outline</mat-icon>
          <mat-icon>edit</mat-icon>
        </div>

        <div class="center">{{task.object.Title}}</div>
        <div class="date">{{task.object.Date | date}}</div>
      </div>
    </div>
  </div>

  <div class="column-container">
    <div class="headline">
      <h2>Testing</h2>
      <img src="assets/img/plusButton.png">
    </div>

    <div cdkDropList #testingList="cdkDropList" [cdkDropListData]="testingBoard"
      [cdkDropListConnectedTo]="[doneList, inprogressList, testingList, todoList]" class="column"
      (cdkDropListDropped)="drop($event)">
      <div (cdkDragStarted)="onDragStarted($event, task)" *ngFor="let task of testingBoard; let i = index"
        class="{{task.object.Urgency}} task" cdkDrag>
        <div class="initials">{{test(task)}}</div>
        <div class="icons">
          <mat-icon (click)="deletePos($event, task)">delete_outline</mat-icon>
          <mat-icon>edit</mat-icon>
        </div>

        <div class="center">{{task.object.Title}}</div>
        <div class="date">{{task.object.Date | date}}</div>
      </div>
    </div>
  </div>

  <div class="column-container">
    <div class="headline">
      <h2>Done</h2>
      <img src="assets/img/plusButton.png">
    </div>

    <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneBoard"
      [cdkDropListConnectedTo]="[doneList, inprogressList, testingList, todoList]" class="column"
      (cdkDropListDropped)="drop($event)">
      <div (cdkDragStarted)="onDragStarted($event, task)" *ngFor="let task of doneBoard; let i = index"
        class="{{task.object.Urgency}} task" cdkDrag>
        <div class="initials">{{test(task)}}</div>
        <div class="icons">
          <mat-icon (click)="deletePos($event, task)">delete_outline</mat-icon>
          <mat-icon>edit</mat-icon>
        </div>

        <div class="center">{{task.object.Title}}</div>
        <div class="date">{{task.object.Date | date}}</div>
      </div>
    </div>
  </div>
</div>
