<div cdkDropListGroup>
    <ng-container *ngFor="let task of alltasks.tasks">
        <div class="example-container">

            <h2>To do</h2>

            <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" cdkDrag>{{task.Title}}</div>
            </div>

        </div>

        <div class="example-container">
            <h2>Done</h2>

            <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
                class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" cdkDrag></div>
            </div>
        </div>
    </ng-container>
</div>