$mainblue: #4589ff;

h1 {
  text-align: center;
  margin-top: 64px;
}

h4 {
  text-align: center;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;

  mat-form-field {
    width: 100%;
  }
  .border {
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding: 32px;
  }
}

.date {
  width: 100%;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.04);
  border-color: transparent;
  color: gray;
  margin-bottom: 1.34375em;
  border-bottom-width: 1px;
  border-bottom-color: gray;
}

mat-button-toggle-group {
  margin: 16px 0;
  border: unset;
  padding: 8px;
  gap: 10px;

  mat-button-toggle {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.16);
    width: 115px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;

    button {
      border-radius: 10px;
    }
  }
}

.high {
  background: #ff3d00;
  border-color: #ff3d00 !important;
}
.medium {
  background: #ffa800;
  border-color: #ffa800 !important;
}
.low {
  background: #7ae229;
  border-color: #7ae229 !important;
}

.labels {
  color: #42526e;
  font-size: 14px;
  font-weight: 700;
}

.color-gen-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  button{
    background-color: $mainblue;
    border: none;
    padding: 8px;
    border-radius: 8px;
    color: white;
    cursor: pointer;

    &:hover {
    transition: 225ms;
    background: #2172ff;
    box-shadow: 0px 7px 15px -10px black;
  }
  }
}

.gen-color{
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: transparent;
  border: 1px solid black;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before, ::ng-deep .mat-form-field-ripple {
  background-color: rgba(66, 82, 110, .15);
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: rgba(0, 0, 0, .15);
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  // background-color: #7ae229;
}

::ng-deep .mat-option-text {
  display: flex !important;
  align-items: center;

  div {
    margin-left: 8px;
  }
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
