<form class="form" (submit)="save()" #addTaskForm="ngForm">
  <div class="border">
    <mat-form-field appearance="legacy">
      <mat-label class="labels">Title</mat-label>
      <input matInput placeholder="Type in your Title" ngModel #title="ngModel" required name="title" min="3">
      <mat-error *ngIf="title.invalid && title.touched">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labels">Assign to</mat-label>
      <mat-select ngModel #assignInput="ngModel" name="assignInput" required>
        <mat-option *ngFor="let assigner of assignes" [value]="assigner">
          {{assigner}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="assignInput.invalid && assignInput.touched">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labels">Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" name="date" ngModel #dateInput="ngModel" required>
      <mat-error *ngIf="dateInput.invalid && dateInput.touched">This field is required!</mat-error>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngIf="!newCategoryOpened" appearance="legacy" style="margin-top: 16px;">
      <mat-label class="labels">Category</mat-label>
      <mat-select name="categoryInput" ngModel #categoryInput="ngModel" required [(value)]="selected">
        <mat-option (click)="newCat()">
          <span>Neue Kategorie</span>
        </mat-option>
        <mat-option *ngFor="let category of categories" [value]="category">
          <span>{{category.text}}</span>
          <div class="point" [style.background]="category.color"></div>
        </mat-option>
      </mat-select>
      <mat-error *ngIf="categoryInput.invalid && categoryInput.touched">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="newCategoryOpened" id="newCatInput" appearance="fill">
      <input matInput placeholder="New Category Name" name="newCategoryInput" ngModel #newCategoryInput="ngModel">
      <div class="button-group">
        <button mat-icon-button (click)="cancelCat()"><img src="../../assets/img/cancelCat.svg" /></button>
        <img src="assets/img/vertical_line.png">
        <button mat-icon-button (click)="addNewCat(addTaskForm.value.newCategoryInput)"><img
            src="../../assets/img/acceptCat.svg" /></button>
      </div>
    </mat-form-field>

    <div class="color-gen-container">
      <button (click)="getColor()">Get Color</button>
      <div class="gen-color" id="generatedColor"></div>
    </div>

    <mat-button-toggle-group ngModel #urgencyInput="ngModel" name="urgencyInput" aria-label="Font Style">
      <mat-button-toggle *ngFor="let urgency of urgencies" [value]="urgency"
        [ngClass]="urgencyInput?.value?.text == urgency?.text ? urgency?.className : ''"
        (mouseover)="urgency.hovered = true" (mouseleave)="urgency.hovered = false"
        [style.borderBottom]="urgency.hovered ? '2px solid' : ''"
        [style.borderBottomColor]="urgency.hovered ? urgency.bgColor : ''"
        [style.color]="urgencyInput?.value?.text == urgency?.text ? '#fff':'#42526e'"
        [style.fontWeight]="urgencyInput?.value?.text == urgency?.text ? 'bold':'normal'">
        {{urgency.text}}
        <img [src]="urgencyInput?.value?.text == urgency?.text ? urgency?.imgWhite : urgency?.imgColor">
      </mat-button-toggle>
    </mat-button-toggle-group>

    <mat-form-field appearance="legacy">
      <mat-label class="labels">Description</mat-label>
      <textarea matInput placeholder="Type in your Description" ngModel #description="ngModel" name="description"
        required min="3"></textarea>
      <mat-error *ngIf="description.invalid && description.touched">This field is required!</mat-error>
    </mat-form-field>

    <button [disabled]="addTaskForm.invalid" mat-stroked-button type="submit" color="primary">Save</button>
  </div>
</form>
