
<form class="form" (submit)="save()" #addTaskForm="ngForm">
  <div class="border">
    <mat-form-field appearance="legacy">
      <mat-label class="labels">Title</mat-label>
      <input matInput placeholder="Type in your Title" ngModel #title="ngModel" required name="title" min="3">
      <mat-error *ngIf="title.invalid && title.touched">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labels">Assign to</mat-label>
      <mat-select ngModel #assignInput="ngModel" name="assignInput">
        <mat-option *ngFor="let assigner of assignes" [value]="assigner">
          {{assigner}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label class="labels">Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" name="date" ngModel #dateInput="ngModel" required>
      <mat-error *ngIf="dateInput.invalid && dateInput.touched">This field is required!</mat-error>
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

      <mat-button-toggle-group ngModel #urgencyInput="ngModel" name="urgencyInput" aria-label="Font Style">
        <mat-button-toggle *ngFor="let urgency of urgencies" [value]="urgency"
          [ngClass]="urgencyInput?.value?.text == urgency?.text ? urgency?.className : ''"
          (mouseover)="urgency.hovered = true" (mouseleave)="urgency.hovered = false"
          [style.borderBottom]="urgency.hovered ? '2px solid' : ''"
          [style.borderBottomColor]="urgency.hovered ? urgency.bgColor : ''"
          [style.color]="urgencyInput?.value?.text == urgency?.text ? '#fff':'#42526e'"
          [style.fontWeight]="urgencyInput?.value?.text == urgency?.text ? 'bold':'normal'"
          >
          {{urgency.text}}
          <img [src]="urgencyInput?.value?.text == urgency?.text ? urgency?.imgWhite : urgency?.imgColor">
        </mat-button-toggle>
      </mat-button-toggle-group>

    <mat-form-field appearance="legacy">
      <mat-label class="labels">Description</mat-label>
      <textarea matInput placeholder="Type in your Description" ngModel #description="ngModel" name="description" required
        min="3"></textarea>
      <mat-error *ngIf="description.invalid && description.touched">This field is required!</mat-error>
    </mat-form-field>

    <button [disabled]="addTaskForm.invalid" mat-stroked-button type="submit" color="primary">Save</button>
  </div>
</form>
