<!-- <h1>Add Task</h1>
<h4>Learning Management System Project</h4> -->

<form class="form" (submit)="save()" #addTaskForm="ngForm">
  <div class="border">
    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput placeholder="Type in your Title" ngModel #title="ngModel" required name="title" min="3">
      <!-- <input matInput placeholder="Type in your Title" [(ngModel)]="title" name="title"> -->
      <mat-error *ngIf="title.invalid && title.touched">This field is required!</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <input matInput placeholder="Type in your Description" ngModel #description="ngModel" name="description" required
        min="3">
      <!-- <input matInput placeholder="Type in your Description" [(ngModel)]="description" name="description"> -->
      <mat-error *ngIf="description.invalid && description.touched">This field is required!</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Assign to</mat-label>
      <mat-select ngModel #assignInput="ngModel" name="assignInput">
        <!-- <mat-select [(ngModel)]="assignInput" name="assignInput"> -->
        <mat-option *ngFor="let assigner of assignes" [value]="assigner">
          {{assigner}}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <section>
      <h4>Button Toggle inside of a Template-driven form</h4>
      <mat-button-toggle-group ngModel #urgencyInput="ngModel" name="urgencyInput" aria-label="Font Style">
        <mat-button-toggle *ngFor="let urgency of urgencies" [value]="urgency" (click)="selected = urgency.text"

          >
          <!-- [style.background]="urgencyInput.value.text == urgency.text ? '#FFF':'urgency.bgColor'" -->
          {{urgency.text}}
          <img [src]="urgencyInput.value.text == urgency.text ? urgency.imgWhite : urgency.imgColor">
        </mat-button-toggle>
        <!-- <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle> -->
      </mat-button-toggle-group>
    </section>

    <!-- <mat-form-field appearance="fill">
      <mat-label>Urgency</mat-label>
      <mat-select ngModel #urgencyInput="ngModel" name="urgencyInput"> -->
    <!-- <mat-select [(ngModel)]="urgencyInput" name="urgencyInput"> -->
    <!-- <mat-option *ngFor="let urgency of urgencies" [value]="urgency">
          {{urgency}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- <input class="date" type="date" name="date" ngModel #dateInput="ngModel" required> -->
    <!-- <mat-error *ngIf="dateInput.invalid && dateInput.touched"></mat-error> -->
    <!-- <input class="date" type="date" name="date" [(ngModel)]="dateInput"> -->

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" name="date" ngModel #dateInput="ngModel" required>
      <mat-error *ngIf="dateInput.invalid && dateInput.touched">This field is required!</mat-error>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="dateInput" name=" dateInput">
            <mat-hint>MM/DD/YYYY</mat-hint>


            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field> -->
    <button [disabled]="addTaskForm.invalid" mat-stroked-button type="submit" color="primary">Save</button>
  </div>
</form>
